<h1>Projects</h1>

<%= link_to new_project_path do %>
  <i class="icon icon-plus"> </i> Add a New Project
<% end %>

<table class="table table-striped">

  <thead>
    <tr><th>Name</th><th>Manager</th><th>Organization</th></tr>
  </thead>

  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= link_to project.name, project %></td>
        <td><%= project.manager %></td>
        <td><%= project.organization %></td>
      </tr>
    <% end %>
  </tbody>
  
</table>