/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require bootstrap 
 *= require_self
 *= require_tree .
 */

.page-content {
 padding: 40px 15px;
 margin-bottom: 200px;
}

[class^="icon-"], [class*=" icon-"] {
  background-image: url("img/glyphicons-halflings.png");
}
[class^="icon-white"], [class*=" icon-white"] {
  background-image: url("img/glyphicons-halflings-white.png");
}

.status {
  padding: 4px 25px 4px 14px;
}